 
<%= stylesheet_link_tag    "dinner" %>
<div class="container jumbotron">
   <div class="row">
      <div class="col-sm-4 col-md-4">
         <div class="card">
            <img class="card-img-top img-thumbnail" src="https://images.pexels.com/photos/6086/food-salad-healthy-vegetables.jpg?auto=compress&cs=tinysrgb&h=750&w=126" alt="salad">
            <div class="card-body">
               <h2 class="card-title">Salads</h2>
               <p class="card-text">All salads are served with garlic bread and your choice on vinaigrette, honey mustard, thousand islands. blue cheese, ranch or Italian dressing</p>
                <%= link_to 'Salad',  lunch_salad_path , class: 'btn btn-lg btn-primary' %>
            </div>
         </div>
      </div>
      <div class="col-sm-4 col-md-4">
         <div class="card" >
            <img class="card-img-top img-thumbnail" src="https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_960_720.jpg" alt="salad">
            <div class="card-body">
               <h2 class="card-title">Pizza</h2>
               <p class="card-text">Served with choice of soup or small green salad and soft drink </p>
               <%= link_to 'Pizza', pizza_path , class: 'btn btn-lg btn-primary' %>
            </div>
         </div>
      </div>
      <div class="col-sm-4 col-md-4">
         <div class="card" >
            <img class="card-img-top img-thumbnail" src="https://get.pxhere.com/photo/dish-meal-food-produce-fresh-breakfast-gourmet-meat-cuisine-sauce-delicious-pie-pastry-dough-pizza-slices-eating-utensils-spices-meals-tomatoes-tables-fast-herbs-restaurants-plates-mozzarella-italian-food-lunches-cheeses-vegetarian-pizza-knife-and-fork-dinners-basked-crusts-european-food-655280.jpg" alt="salad">
            <div class="card-body">
               <h2 class="card-title"> Gourmet Pizza</h2>
               <p class="card-text">Fresh Ingredients. 100% Moozarella cheese Dough made fresh daily</p>
               <%= link_to "Gourmet Pizza",gourmet_pizza_path, class: 'btn btn-lg btn-primary', id: 'gour_pizza'  %>
            </div>
         </div>
      </div>
   </div>
   <div class="row" >
      <div class="col-sm-4 col-md-4">
         <div class="card" >
            <img class="card-img-top img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Calzone_Tradition_%2B_poivrons.JPG" alt="salad">
            <div class="card-body">
               <h2 class="card-title"> Calzone</h2>
               <p class="card-text">Fresh Ingredients. 100% Moozarella cheese Dough made fresh daily</p>
               <%= link_to 'Calzone', calzone_path, class: 'btn btn-lg btn-primary' %>
            </div>
         </div>
      </div>
      <div class="col-sm-4 col-md-4">
         <div id='change-pasta' class="card" >
            <img class="card-img-top img-thumbnail" src="https://im.mtv.fi/image/6300508/landscape16_9/1024/576/e5b3ecf2985d7b8457ea6bb13a0dff4/yK/cacio-e-pepe-pasta.jpg" alt="salad">
            <div class="card-body">
               <h2 class="card-title"> Pasta</h2>
               <p class="card-text">Served with garlic bread. For additional Meatball(beef), Italian sausage ,mushroom, or meat sauce add $2.10 </p>
               <%= link_to "Pasta",pasta_path, class: 'btn btn-lg btn-primary' %>
            </div>
         </div>
      </div>
      <div class="col-sm-4 col-md-4">
         <div id= 'change-two' class="card" >
            <img class="card-img-top img-thumbnail" src="https://media.defense.gov/2012/Apr/12/2000161858/780/780/0/120328-F-AR054-005.JPG" alt="Chef's Gourmet Pasta">
            <div class="card-body">
               <h2 class="card-title">Chef's Gourmet Pasta</h2>
               <p class="card-text">Fresh Ingredients. 100% Moozarella cheese Dough made fresh daily</p>
               <%= link_to "Chef's Gourment Pasta", chef_gourmet_pasta_path, class: 'btn btn-lg btn-primary' %>
            </div>
         </div>
      </div>
   </div>
      <div class="row" >

      <div class="col-sm-4 col-md-4">
         <div id='change-hot-sandwich' class="card" >
            <img class="card-img-top img-thumbnail" src="https://get.pxhere.com/photo/dish-meal-food-snack-fast-food-meat-cuisine-bread-bakery-sandwich-sausage-baguette-roll-ciabatta-baked-goods-sandwiches-junk-food-hors-d-oeuvre-colorful-rolls-banh-mi-submarine-sandwich-1016435.jpg" alt="Hot Sandwiches">
            <div class="card-body">
               <h2 class="card-title"> Hot Sandwiches</h2>
               <p class="card-text">Served with chips </p>
               <%= link_to 'Hot Sandwiches', hot_sandwiches_path, class: 'btn btn-lg btn-primary' %>
            </div>
         </div>
      </div>
      <div class="col-sm-4 col-md-4">
         <div id= "change-cold-sandwich" class="card" >
            <img class="card-img-top img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Cold_cut_sandwich.jpg" alt="cold sandwiches">
            <div class="card-body">
               <h2 class="card-title">Cold Sandwiches</h2>
               <p class="card-text">Fresh Ingredients indeed</p>
               <%= link_to 'Cold Sandwiches', cold_sandwiches_path, class: 'btn btn-lg btn-primary' %>
            </div>
         </div>
      </div>
      <div class="col-sm-4 col-md-4">
         <div id="change-side-order" class="card" >
            <img class="card-img-top img-thumbnail" src="https://get.pxhere.com/photo/table-cafe-restaurant-dish-meal-food-salad-breakfast-lunch-cuisine-buffet-eating-dining-setting-supper-brunch-plates-hors-d-oeuvre-488616.jpg" alt="side orders">
            <div  class="card-body">
               <h2 class="card-title">Side Orders</h2>
               <p class="card-text">Just Name it ;)</p>
               <%= link_to 'Side Orders', side_orders_path, class: 'btn btn-lg btn-primary' %>
            </div>
         </div>
      </div>
   </div>
   
   <div class="row">
      <div class="col-sm-6 col-md-6">
         <div id="change-dessert" class="card" >
            <img class="card-img-top img-thumbnail" src="https://get.pxhere.com/photo/dish-food-produce-fresh-colorful-dessert-cuisine-delicious-pastry-strawberry-baked-butter-slices-treats-sweets-icing-bright-party-snacks-fruits-foods-layers-multiple-traditional-desserts-sliced-creamy-layered-cheesecake-baked-goods-cakes-celebrations-torte-buttercream-semifreddo-sugary-bavarian-cream-978723.jpg" alt="Dessert">
            <div  class="card-body">
               <h2 class="card-title">Dessert</h2>
               <p class="card-text">Just Name it ;)</p>
               <%= link_to 'Dessert', dessert_path, class: 'btn btn-lg btn-primary' %>
            </div>
         </div>      
      </div>
      <div class="col-sm-6 col-md-6">
        <div id="change-beverages" class="card" >
            <img class="card-img-top img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/6/68/Beverages_close_up_shot.JPG" alt="beverages">
            <div  class="card-body">
               <h2 class="card-title">Beverages</h2>
               <p class="card-text">Just Name it ;)</p>
               <%= link_to 'Beverages', beverages_path, class: 'btn btn-lg btn-primary' %>
            </div>
         </div>      
      </div>
   </div>
</div>
