<style>
    .col-md-12{
        opacity: 11;
    } 
</style>

<h3 class='text-center'>Contact US</h3>
<div  class="container-fluid" id="contact">
    <div class="row text-center">
        <div class="col-md-2 col-md-offset-2" style="padding-top: 25px;" >
            <div class="row">
                <%=fa_icon "phone 4x"%><br>
                <%= number_to_phone 3106596171 %> <br> 
            </div>
            <div class="row">
                <%= fa_icon 'envelope 4x' %><br>
                1536 S La Cienega Blvd, Los Angeles, CA 90035<br>
            </div>
            <div class="row">
                <%= fa_icon 'clock-o 4x'%>
                 <div id="myDiv"></div>
            </div>
        </div>
        <div class="col-md-8 ">
             <br>
             <%= fa_icon 'map 4x', style: 'padding-bottom: 15px;' %>
             <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.7800011150553!2d-118.37794518445207!3d34.04951402532068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b96eaff8f45b%3A0x1a33f7ce85244908!2sCiccero+Pizza!5e0!3m2!1sen!2sus!4v1493772474072" width="" height="300" frameborder="0" style=""  id="google-map" allowfullscreen></iframe>
        </div>
    </div>
</div>

