<style>
    .col-md-12{
        opacity: 11;
    } 
</style>

<h3 class='text-center'>Contact US</h3>
<div  class="container-fluid" id="contact">
    <div class="row text-center">
        <div class="col-md-2 col-md-offset-2" style="padding-top: 25px;" >
            <div class="row">
                <%=fa_icon "phone 4x"%><br>
                <%= number_to_phone 6612958769 %> <br> 
            </div>
            <div class="row">
                <%= fa_icon 'envelope 4x' %><br>
                27674 Newhall Ranch Rd #45, Valencia, CA 91355<br>
            </div>
            <div class="row">
                <%= fa_icon 'clock-o 4x'%>
                 <div id="myDiv"></div>
            </div>
        </div>
        <div class="col-md-8 ">
             <br>
             <%= fa_icon 'map 4x', style: 'padding-bottom: 15px;' %>
             <br>
            <iframe src="" width="" height="300" frameborder="0" style=""  id="google-map" allowfullscreen></iframe>
        </div>
    </div>
</div>

